@keyframes bindingEditorEnter {
    0% {
        opacity: 0;
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes bindingEditorExit {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(-3px);
    }
}

.binding-editor {
    will-change: transform, opacity;
}

.binding-editor--enter {
    animation: bindingEditorEnter 100ms ease-out forwards;
}

.binding-editor--exit {
    animation: bindingEditorExit 100ms ease-in forwards;
}
